/* :root {
  --background: #ffffff;
  --foreground: #171717;

  --color-primary: #1290af
} */

html,
body {
  overflow-x: hidden;
  height: 100vh;
  background-color: var(--mui-palette-primary-light);
}

body {
  color: var(--foreground);
  background: var(--background);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* .imgDark {
  display: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  :root {
    
  --background: #171717;
  --foreground: #ffffff;
  }

  .imgLight {
    display: none;
  }
  .imgDark {
    display: unset;
  }
} */